node_modules/
.env
certs/*.pem
public/profile_pictures/*
public/vehicle_images/*
public/vehicle_videos/*
!public/profile_pictures/.gitkeep
!public/vehicle_images/.gitkeep
!public/vehicle_videos/.gitkeep
*.log
